/*/
red 901324
871d2d
791a29

blue 639fdc

black 30404d
4a534f
dark 454c76

off white f3f2f2

cream fff2e7


font-family: 'Work Sans', sans-serif;
 /*/


body {
    margin: 0;
    overflow-x: hidden;
    font-family: Arial;
    color: #333333;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    text-align: left;
    margin: 8vw 5vw;
}

.banner-text {
    max-width: 600px;
    padding: 60px;
    text-align: left;
}

h1{
    font-family: sans-serif;
    text-align: center;
    margin-top: 7vh;
    font-weight: bold;
}
h2{
    font-family: sans-serif;
    font-weight: bold;
     margin-bottom: 2vw;
}
h14{
    font-family: sans-serif;
    text-align: left;
    font-size: 30px;
    margin-bottom: 2vw;
    font-weight: bold;
}

h19{
    font-size: 37px;
    font-weight: bold;
}

.banner-button {
    display: inline-block;
    padding: 13px 25px;
    margin-top: 1vw;
    text-decoration: none;
    background-color: #88b5f6;
    border-radius: 5px;
    font-size: 16px;
    color: black;
}
.banner-button:hover {
    background-color: #aed0fa;
}

.banner-img {
    max-width: 45%;
    height: auto;
    margin-left: 3vw;
}

/* midtext*/

.mid-text{
    padding: 2vw 30vw;
}
.mid-img {
    max-width: 40%;
    height: auto;
    margin-left: 3vw;
    border-radius: 10px;
}

/*slider*/


.slider {
    width: 100%;
    height: 20%;
    overflow: hidden;
}

.slide-container {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 33.33%;
}

.slide img {
    width: 87%;
    height: auto;
    margin-left: 1vw;
}

.start-btn {
    display: inline-block;
    padding: 13px 35px;
    margin-top: 3vw ;
    margin-right: 5vw;
    margin-bottom: 2vw;
    text-decoration: none;
    background-color: #88b5f6;
    border-radius: 5px;
    font-size: 16px;
    color: black;
    float: right;
}
.start-btn:hover {
    background-color: #aed0fa;
}


/* cards */


.grid-container-skill {
    display: grid;
    margin: 3vw 5vw;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1vw;
    color: #333333;
}

.grid-item-skill {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(147, 147, 147, 0.1);
    text-align: center;
    margin-left: 3vw;
    border: rgba(244, 244, 245, 0.29) groove 1px;
}

.grid-item-skill i {
    font-size: 3rem;
    color: #77a9f1;
    margin-bottom: 10px;
}

.why-us{
    text-align: center;
    margin-top: 2vw;
    padding: 1px 35vw;
    color: #4d4d4d;
    font-size:17px;
}


/* nav */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 2vw;
    background-color: rgba(248, 248, 248, 0.75);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-content-left {
    display: flex;
    align-items: center;
}

.navbar-logo img{
    height: 97px;
}

.navbar-logo:hover {
    transform: scale(1.05);
}


.navbar-options {
    list-style-type: none;
    display: flex;
    padding: 0;
    font-weight: bold;
    font-size: 16px;
    margin-left: 3vw;
}

.navbar-options li {
    margin-right: 3vw;
}

.navbar-options a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

.navbar-options a:hover {
    color: #78a4e5;
}

.navbar-buttons a {
    padding: 8px 15px;
    margin-left: 15px;
    text-decoration: none;
    border: 1px solid #333;
    border-radius: 4px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.login-btn {
    padding: 8px 15px;
    margin-left: 15px;
    text-decoration: none;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #333;
    color: #fff;

    font-weight: bold;
    transition: all 0.3s ease;
}

.login-btn:hover {
    color: #333;
    background-color: #aed0fa;
}


.register-btn {
    padding: 8px 15px;
    margin-left: 15px;
    text-decoration: none;
    border: 1px solid #333;
    border-radius: 4px;
    color: #333;
    font-weight: bold;
    transition: all 0.3s ease;
}

.register-btn:hover {
    color: #78a4e5;
    border-color: #9cc2f8;
}


 /*footer*/


footer {
    background-color: #ffffff;
    margin-top: 7vw;
    height: fit-content;
}

.flex-containerfooter {
    display: flex;
    justify-content: space-evenly;
    font-size: 17px;
    font-weight: 500;
}

.flex-itemfooter {
    padding: 20px;
    text-align: center;
}

.flex-itemfooter:hover {
    color: #6991ba;
    cursor: pointer;
}

.footerlogo {
    width: 12vw;
    margin: auto 2vw;
}


.rechten {
    text-align: center;
    font-size: 12px;
    margin-top: 0;
    margin-top: 2vh;
}















@media only screen and (max-width: 768px) {

    .banner h1 {
        font-size: 2rem;
    }

    .banner p {
        font-size: 1rem;
    }


    .banner{
        display: contents;
        width: 90%;
        color: #333;
        text-align: left;
        margin: 1vw 2vw;
    }
    .banner-text{
        max-width: 400px;
        padding: 40px;
        text-align: left;
    }
    .banner-img{
        width: 1000%;
        max-width: 100%;
        height: auto;
        margin: 1vw auto;
    }
    .why-us{
        padding: 8px 15vw;
    }
}